body {
    background-color: #C5D0D7;
}

.panel-footer {
    background-color: #C5D0D7;
}

.jumbotron {
    text-align: center;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.btn.btn-primary {
    background-color: #29526D;
    border-color: #C5D0D7;
    border-radius: 4px;
}

.btn.btn-primary.btn-danger {
    background-color: #d9534f;
}


.navbar.navbar-inverse {
    min-height: 7%;
    height: 7%;
}

.navbar {
    background-color: #072B42;
}

.navbar-brand , .nav , .navbar-nav, .navbar-from, .navbar-left{
    font-family: 'Exo', sans-serif;
    font-size: 17px;
}

.container {
    font-family: 'Exo', sans-serif;
}

.panel.panel-default {
    background-color: #C5D0D7;
    border-width: 0;
}

.panel.panel-primary {
    border-color: #072B42;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}

.panel.panel-primary .panel-heading{
    background-color: #072B42;
    border-color: #072B42;
    color: #C5D0D7;
}

.modal {
    opacity: 0;
}

.modal-content {
    background-color: #C5D0D7;
}

img {
    margin-top: 25px;
    max-height: 270px;
    min-height: 270px;
    padding: 5px;
    float: both;
}

#collapseSearch {
    background-color: #C5D0D7;
}

#collapseMySeries {
    background-color: #C5D0D7;
}

#collapseWatchlist {
    background-color: #C5D0D7;
}

div#serieTitle {
    max-height: 20px;
    min-height: 20px;
    max-width: 280px;
    text-align: center;
}